@mixin sombras {
    &:hover{
        transform: scale(1.03);
        box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
        transition: all 0.2s;
    }
}
@keyframes ancho {
    0% {
        width: 5%;
    }
    100% {
        width: 100%;
    }
}
@keyframes aparecer{
    0% {
        opacity: 0.7;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}