@media screen and (min-width: 992px){
    .policialesContainer{
        background-image: url('../img/fondo-crimen.png');
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
    }
}