@import "vars";
@import "animaciones";

body{
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    border-top: $borde-fino;
    border-bottom: $borde-fino;
}

.nav-item{
    a{
        &:hover{
            border-bottom: solid 2px $contraste-oscuro;
        }
    }
}

.banner{
    width: 100%;
    background-color: $contraste-claro;
    p{
        animation: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    a{
        font-weight: bolder;
        text-decoration: none;
        color: #000;
        //border-bottom: 3px solid black;  
        &:hover{
            color: white;
            background-color: $contraste-oscuro;
        }
    }
    hr{
        border-bottom: 3px solid black;  
        animation: ancho;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@mixin sombras {
    &:hover{
        transform: scale(1.03);
        box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
    }
}
.necroCard, .itemNoticia{    
    @include sombras;
}

.noticia{
    border-left: 0;
    border-right: 0;
    border-bottom: $borde-grueso;
}
.tituloUltimasNoticias{
    text-align: left;
    font-size: 1.5rem;   
}

.card-text{
    text-align: left;
}

.carouselLink{
    text-decoration: none;
    color: white;
}

.cardLink{
    text-decoration: none;
    color: #000;
}

.tituloNoticia{
    text-align: left;
}

.textNoticia{
    text-align: justify;
}

.encabezado{
    border-bottom: $borde-grueso;
}

.fecha{
    color:$contraste-oscuro;
}

.cruzNecrologicas{
    width: 1.5rem;
    height: 2rem;
}

.necroTitulo{
    text-align: right;
    h1{
        color:#a37873;
    }
}

.textoContacto{
    background-color: #cdc4b4;
    border-bottom: $borde-grueso;
    text-align: left;
    color: white;
}

.enviarForm{
    background-color: #a37873;
    color: white;
    &:hover{
        background-color: #7c5551;
        color: white;
    }
    &:active{
        background-color: #af918e;
        color: white;
    }
}

.footer{
    background-color: $contraste-oscuro;
}

@media screen and (min-width: 992px){
    .policialesContainer{
        background-image: url('../img/fondo-crimen.png');
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
    }
}